.image
  height 34u
  width 34u

.tag
  margin-top 1u
  margin-left 1u
  padding 1.5u

.fire
  background-color: $UI.colors.error

.water
  background-color: $UI.colors.additional1

.fairy
  background-color: $UI.colors.additional2Light

.items
  margin-left -1u