.del
  margin-left 1u

.item
  margin-top 1u

.itemInput
  flex-grow 1

.tag
  margin-top 1u
  margin-left 1u
  padding 1.5u

.fire
  background-color: $UI.colors.error

.water
  background-color: $UI.colors.additional1

.fairy
  background-color: $UI.colors.additional2Light

.items
  margin-left -1u