.root
  padding 1u

.input
  flex 1
  height 5u

.searchButton
  margin-left 1u

.card
  margin-top 1u
  margin-left 1u
  flex-basis 38u

.list
  margin-left -1u

.checkbox
  margin-left 1u
  margin-top 1u